*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primaryColor:rgb(87, 87, 210);
  --whiteColor:#fff;
}
.header{
  background-color:var(--primaryColor);
}
.header a{
  color:var(--whiteColor);
}
.cart img{
  mix-blend-mode: multiply;
  
}
.banner{
  background-image: url("../public/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: auto;
  color:var(--whiteColor);
}
.banner input,button{
  border: none;
  outline: none;
}
.banner input {
  width: 70%;
  border-radius: 30px 0px 0px 30px;
}
.banner button{
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border-radius: 0px 30px 30px 0px;
}
.cards-section-box{
  width: 90%;
  margin: auto;

}
.cards-section{
  justify-content: space-between;
  margin: auto;

}
p.movie-title{
  font-size: 26px;
  font-weight: bold;
}
.title{
  font-weight: bold;
}
.single-card{
  width: 17%;
  padding: 5px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
}
.poster-img{
  border-radius: 10px;
}
.single-card a{
  color:black;
  text-decoration: none;
}
.card-image{
  position: relative;
}
.card-image img{
  width: 100%;
}
.rating-circle{
  position: absolute;
  right: 15px;
  bottom:-15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:var(--primaryColor);
  color:var(--whiteColor)
}
.details-box{
  height: 500px;
  background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

}
.description-box{
  margin-left: 20px;
}

.description-box p,h3,span,b{
  color: var(--whiteColor) !important;
}
span{
  font-weight: 500;
}

.runtime{
  
  background-color: var(--primaryColor);
  width: max-content;
  border-radius: 50%;
}
.runtime p{
  margin-bottom: 0;
}
.save-movie button{
  background-color:var(--primaryColor);
  color: var(--whiteColor);
}

.pagination-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btn button{
  
  padding: 10px 20px;
  background-color:var(--primaryColor);
  color: var(--whiteColor);
  border-radius: 10px;
}
.cart{
  position: relative;
}
.circle p{
  position: absolute;
  top:0;
  right: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  background-color:red;
  color: var(--whiteColor);
  border-radius: 50%;
  font-size: 12px;
}

.card-box{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
  background-color: beige;
/* background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */
  /* background-color: var(--primaryColor); */
}
.card-img{
  width: max-content;
}
.card-img p{
  margin-left: 30px;
  font-size:24px;

}
.card-img img{
  width: 100px;
  z-index: 1111;
  border-radius: 10px;
}
.card-button button{
  padding: 10px 20px;
  border:none;
  outline:none;
  background: var(--primaryColor);
  color:var(--whiteColor);
  border-radius: 10px;
}


